.pokedex {
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.search {
  width: 30vw;
  padding: 10px;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 40px;
}
