.pokemon {
  width: 200px;
  height: 200px;
  background-color: white;
  border: 2px solid red;
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name {
  text-transform: capitalize;
}
